.banner{
    width: 100%;

}
.color{
    background-color: gray;
    text-align: center;
}
.color img{
    width: 18%;
    
}
.desk, .graphic, .person {
    border: 5px solid blue;
    border-radius: 50%;
    size: 50%;
}
.graphic{
    margin: 0 5%;
}
body{
    background-color: fuchsia;
}